@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html,
body,
.capa {
    height: 100%;
}

body {
    background: url('../img/capa.png'), url('../img/ruido.png'), linear-gradient(50deg, #BBDEFB, #42A5F5);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
/*========== Header ============*/

.img-logo {
    height: 55px;
    width: 246px;
    display: block;
    background: url('../img/rozaazul.svg') no-repeat;
    background-size: contain;
    color: transparent;
    top: -2px;
    position: relative;
}

nav.navbar-transparente {
    padding: 0;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

#bootstrap-overrides .navbar-brand {
    padding: 0px 15px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 16px 10px;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>li>a,
#rodape .nav a {
    color: #fff;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>li>a:hover,
#rodape .nav a:hover {
    color: #9bf0e1;
    background: none;
}
#bootstrap-overrides .lblAdmin {
    color: #004c98;
    font-weight: 300;
    float: left;
}
/*========== End Header ============*/

/*========== Begin capa============*/

.capa {
    display: table;
    width: 100%;
    height: 470px;
}

.texto-capa {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}


/*========== End capa ============*/

/*========== Begin sobre ============*/

#about article {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

#about input {
  display: none;
}

#about p {
    text-align: justify;
    padding: 15px;
}
#about label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#about label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#about label:hover {
  color: #888;
  cursor: pointer;
}

#about input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #004c98;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/*========== End sobre ============*/

/*========== Serviços ============*/

#servicos,
#contato,
#about,
#video-content,
#adminArea {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*========== End Serviços ============*/


/*========== about ============*/


/*========== End about ============*/


/*========== Contato ============*/


/*========== End Contato ============*/


/*========== Google ============*/

#gSignIn {
    float: left;
    background: none;
    border: none;
}

div.abcRioButtonIcon {
    padding: 7px !important;
}

div.abcRioButtonBlue {
    width: 185px !important;
    height: 34px !important;
}

div.abcRioButtonContents {
    font-size: 12px !important;
    line-height: 36px !important;
}

.profile {
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}

.profile p {
    margin: 0px 0px 10px 0px;
}

.head {
    margin-bottom: 10px;
}

.head a {
    float: right;
}

.profile img {
    width: 100px;
    float: left;
    margin: 0px 10px 10px 0px;
}

.proDetails {
    float: left;
}


/*========== End Google ============*/


/*========== Rodapé ============*/

footer {
    background: #212121;
    padding: 50px 0 20px 0;
    position: relative;
}

.item-rede-social {
    background-image: url(../img/sprite_social.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin: 10px;
}

.flickr {
    width: 55px;
    height: 55px;
    background-position: -459px 0px;
}

.behance {
    width: 55px;
    height: 55px;
    background-position: -306px 0px;
}

.instagram {
    width: 55px;
    height: 55px;
    background-position: -153px 0px;
}

.facebook {
    width: 55px;
    height: 55px;
    background-position: 0px 0px;
}

.sprite .item-rede-social>a {
    position: relative;
    display: block;
    padding: 27px 15px;
}
/*========== End Rodapé ============*/

/*========== Begin Button Top ============*/
a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
    border: 2px solid #115a9c;
    color: #115a9c;
}
a[href="#top"]:hover{
    text-decoration:none;
}
/*========== End Button Top ============*/
/*========== Begin Css Admin ============*/

.alertaNome,
.alertaProduto,
.alertaDesc{
  display: none;
}

/*========== End Css Admin ============*/
/*========== Animações ============*/

/*@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
padding: 10px 0 10px 0;
}*/

/*========== Tipografia ============*/

#bootstrap-overrides h1 {
    font-size: 6.5em;
    font-weight: 900;
    letter-spacing: -0.05em;
}

#bootstrap-overrides h2 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-align: left;
}
#bootstrap-overrides h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h2,
#servicos h3,
#video-content h2,
#about h3 {
    color: #3F51B5;
}
#video-content h2 {
    text-align: center;
}

#rodape h4 {
    color: #919496;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 12px;
}


/*========== Media Queries ============*/
